{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/easyadmin/bootstrap-all.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/easyadmin/bootstrap-all.js') }}"></script>
    <script src="{{ asset('bundles/easyadmin/app.js') }}"></script>
{% endblock %}