{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/easyadmin/app.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/app.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/bootstrap.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row vertical-center">
        <div class="col-sm-4 offset-sm-4 align-content-center">
            <h1>{{ 'Bitte bestätige deinen Account'|trans }}</h1>
            <p>{{ 'Indem du deinen Account mit Deiner Email bestätigst, teilst du der Applikation mit, dass die richtige Person die Email erhalten hat. Wenn dies nicht die Email ist, mit der Du dich an der WAVETROPHY angemeldet hast, kontaktiere bitte den Support.'|trans }}</p>
            {% if error is defined and error is same as(true) %}
                <div class="alert alert-danger" role="alert">
                    {% set support_link = "<a href=\"%s\">%s</a>"|raw|format('mailto:support@wavetrophy.com?subject=Error%20' ~ error_id, 'Support'|trans) %}
                    {{ 'Etwas lief schief. Bitte kontaktiere den %s'|trans|format(support_link)|raw }}
                </div>
            {% endif %}
            <form method="post">
                <button type="submit" class="btn btn-primary btn-block">{{ 'Bestätigen'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}